@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/Gotham-Bold\ .otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/Gotham-Book\ .otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #111;
}

.nav-mobile-petone {
    display: none;
    align-items: center;
    gap: 8px;
}

.conoce {
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: GothamBook;
    margin-right: 4px;
}

/* Navbar general */
.navbar-wrapper {
    width: 100vw;
    background-color: #111;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.logo {
    height: 50px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.nav-links a {
    color: white;
    /* Cambia el color del texto a blanco */
    text-decoration: none;
    /* Elimina el subrayado */
}

.nav-links a:hover {
    color: #efe936;
    /* Cambia el color al pasar el mouse (opcional) */
}

.separator {
    color: white;
}

.nav-logo-right {
    height: 50px;
}


.navbar-bottom-bar {
    height: 5px;
    background: linear-gradient(to right, yellow 10%, blue 10% 20%, red 20% 30%);
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.highlight-section {
    background: repeating-linear-gradient(45deg,
            #f2f5f1,
            #f2f5f1 20px,
            #ffffff 20px,
            #ffffff 40px);
    text-align: center;
    padding: 150px 20px;
}

.highlight-section h2 {
    font-size: 22px;
    font-family: GothamBook;
    font-weight: normal;
    display: inline-block;
}

.highlight-line-1,
.highlight-line-2 {
    display: inline-block;
    padding: 0px 5px;
    margin-top: 2px;
    font-size: 28px;
    color: #ffffff;
}

.highlight-line-1 {
    background-color: #095226;
    color: #efe936;

}

.highlight-line-2 {
    background-color: #095226;
    color: #efe936;
}

.gotham-bold {
    font-family: 'GothamBold', sans-serif;
    font-weight: bold;
}

.gotham-book {
    font-family: 'GothamBook', sans-serif;
    font-weight: normal;
}

.highlight-section p {
    max-width: 700px;
    margin: 10px auto 0;
    color: #333;
    font-size: 16px;
}

.highlight-section p strong {
    font-weight: bold;
}

.stats-section {
    background-color: #111;
    /* Fondo oscuro */
    color: white;
    padding: 30px 0;
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Espacio entre los elementos */
}

.stat-item {
    text-align: center;
    padding: 20px;
}

.stat-item strong {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: GothamBold;
}

.stat-item span {
    font-size: 16px;
    color: #ccc;
    font-family: GothamBook;
}

.stat-separator {
    color: #666;
    font-size: 24px;
}

.carousel-inner-2 img {
    max-width: 80%;
    /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: 600px;
    /* Ajusta la altura deseada */
    object-fit: cover;
    /* Recorta la imagen para que se ajuste al contenedor */
    display: block;
    margin: 0 auto;
    /* Centra las imágenes horizontalmente */
}

.branches-section {
    background-color: #f9f9f9;
    /* Fondo claro */
    padding: 46px 20px;
    text-align: center;
}

.branches-title {
    color: #095226;
    /* Verde oscuro */
    font-size: 20px;
    margin-bottom: 30px;
}

.branches-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.branch-item {
    text-align: center;
    max-width: 250px;
}

.branch-item img {
    width: 60px;
    /* Tamaño del ícono */
    margin-bottom: 15px;
}

.branch-item h3 {
    font-size: 18px;
    color: #095226;
    /* Verde oscuro */
    margin-bottom: 10px;
}

.branch-item p {
    font-size: 14px;
    color: #333;
    /* Texto oscuro */
}

.branch-item svg {
    width: 40px;
    /* Ajusta el tamaño del ícono */
    height: 40px;
    /* Ajusta la altura del ícono */
    stroke: #095226;
    /* Cambia el color del ícono a verde oscuro */
    margin-bottom: 10px;
    /* Espacio entre el ícono y el texto */
}

/* logos */
.carousel-row {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background: #fff;
    padding: 100px 0;
}

.carousel-track {
    display: inline-block;
    animation: scroll 20s linear infinite;
}

.carousel-track img {
    height: 50px;
    margin: 30px 30px;
    vertical-align: middle;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.footer-branch i,
.social-icons i {
    color: #ffde59;
    /* amarillo tipo neón */
}


.whatsapp-btn {
    display: inline-flex;
    align-items: center;
    /* Alinea verticalmente el texto y el ícono */
    justify-content: center;
    /* Centra horizontalmente */
    flex-direction: row;
    /* Cambia la dirección a fila */
    position: relative;
    top: 50px;
    /* Hace que suba sobre el footer */
    background-color: #25D366;
    /* Verde de WhatsApp */
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    /* Ajusta el espaciado interno */
    border-radius: 999px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    text-align: center;
    max-width: 350px;
    gap: 10px;
    /* Espacio entre el texto y el ícono */
}

.whatsapp-btn i {
    font-size: 25px;
    /* Tamaño del ícono */
    color: white;
    /* Color del ícono */
    padding: 5px;
}

.footer {
    background-color: #111;
    color: white;
    padding: 50px 20px 30px;
}

.footer-container {
    display: flex;
    /* Activa el diseño en fila */
    justify-content: space-between;
    /* Espacio uniforme entre los elementos */
    align-items: flex-start;
    /* Alinea los elementos al inicio verticalmente */
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten en pantallas pequeñas */
    padding: 20px;
    background-color: #111;
    /* Fondo oscuro */
    color: white;
    /* Texto blanco */
}

.footer-logo,
.footer-branch {
    flex: 1;
    /* Cada elemento ocupa el mismo espacio */
    max-width: 300px;
    /* Ancho máximo para cada columna */
    margin: 10px;
    /* Espaciado entre columnas */
}

.footer-logo img {
    max-width: 160px;
    /* Asegura que el logo no exceda el contenedor */
    margin-bottom: 10px;
}

.footer-branch h4 {
    font-size: 15px;
    font-family: GothamBold;
    margin-bottom: 10px;
    color: white
}

.footer-branch p {
    font-size: 12px;
    margin: 5px 0;
    font-family: GothamBook;
}

.social-icons a {
    color: white;
    /* Color blanco para los íconos */
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #efe936;
    /* Cambia a amarillo al pasar el mouse */
}

@media (max-width: 480px) {
    /* Celulares estándar y pequeños */

    .logo {
        height: 30px;
    }

    .carousel-inner img {
        height:100% !important;
        /* Aumenta la altura del carrusel */
        max-width: 100%;
        /* Asegura que las imágenes ocupen todo el ancho */
        object-fit: cover !important;
        /* Mantiene el contenido ajustado */
    }


    .highlight-section {
        padding: 40px 10px !important;
        /* Reduce el padding para que sea más compacto */
        text-align: center;
        /* Centra el contenido */
    }

    .highlight-section h2 {
        font-size: 35px !important;
        /* Reduce el tamaño del título */
        line-height: 0.7;
        /* Ajusta el espaciado entre líneas */
    }

    .highlight-line-1,
    .highlight-line-2 {
        font-size: 22px !important;
        /* Reduce el tamaño del texto destacado */
        padding: 5px !important;
        /* Ajusta el padding interno */
    }

    .highlight-section p {
        font-size: 13px !important;
        /* Reduce el tamaño del texto del párrafo */
        line-height: 1.4;
        /* Mejora la legibilidad */
        margin-left: 20px !important;
        margin-right: 20px !important;
    }


    .stats-section {
        padding: 10px 10px;
        /* Reduce el padding para pantallas pequeñas */
        text-align: center;
        /* Centra el texto */
    }

    .stats-container {
        flex-direction: column;
        /* Apila los elementos verticalmente */
        align-items: center;
        gap: 2px;
        /* Ajusta el espacio entre los elementos */
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .stat-item strong {
        font-size: 20px;
        /* Reduce el tamaño del texto */
        margin-bottom: 0px;
    }

    .stat-item span {
        font-size: 20px;
        /* Reduce el tamaño del texto */
    }

    .stat-separator {
        display: block;
        width: 180px !important;
        height: 0;
        border-top: 2px solid #666;
        margin: 8px auto;
        font-size: 0;
        /* Oculta el carácter | */
        background: none;
        line-height: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .carousel-inner img {
        height: 400px;
        /* Ajusta la altura automáticamente */
        width: 100%;
        /* Asegura que las imágenes ocupen todo el ancho */
        object-fit: cover;
        /* Mantiene el contenido ajustado */
    }

    .carousel-item {
        display: flex;
        /* Centra las imágenes */
        justify-content: center;
        align-items: center;
    }

    .branches-section {
        padding: 20px 10px;
        /* Reduce el padding para pantallas pequeñas */
    }

    .branches-title {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 40px;
        /* Reduce el tamaño del título */
    }

    .branch-item h3 {
        font-size: 18px;
        /* Reduce el tamaño del texto del título de cada sucursal */
    }

    .branch-item p {
        font-size: 16px;
        /* Reduce el tamaño del texto de las descripciones */
    }

    .branch-item svg {
        width: 80px;
        /* Reduce el tamaño del ícono */
        height: 80px;
        /* Ajusta la altura del ícono */
    }

    .carrousel-row {
        padding: 3px !important;
        /* Reduce el padding para pantallas pequeñas */
    }
}


/* Estilo responsive ipad*/
@media (max-width: 768px) {

    .nav-links {
        display: none !important;
    }

    .nav-mobile-petone {
        display: flex !important;
        padding:10px;
    }

    .highlight-section {
        padding: 60px 20px;
        /* Reduce padding */
    }

    .carousel-inner img {
        height: auto;
        /* Ajusta la altura automáticamente */
        width: 100%;
        /* Asegura que las imágenes ocupen todo el ancho */
        object-fit: cover;
        /* Mantiene el contenido ajustado */
    }

    .menu-toggle {
        display: block;
    }

    .logo {
        margin-left: 30px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
        background-color: #111;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 999;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .highlight-section p {
        max-width: 700px;
        margin: 10px auto 0;
        color: #333;
        font-size: 16px;
    }

    .highlight-section .highlight-line-1 {
        font-size: 20px;
    }

    .highlight-section .highlight-line-2 {
        font-size: 20px;
    }


    .separator {
        display: none;
    }
}